<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Michalenko</title>
  <meta name="description" content="Michalenko's work">
  <meta name="author" content="Mr. Michalenko">

  <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

 
</head>

<body>
  <div class="jumbotron text-center">
  <h1 style="color:blue;font-size:46px;">INTORDUCTION TO COMPUTER SCIENCE</h1>
  <p>Mr. Michalenko's portfolio of work completed in the introduction to computer science class 2021.</p>
</div>
  
<div class = "container">
  <div class = "row">
    <div class = "col-sm-4">
      <p style="color:Green;font-size:23px;">MR. MICHALENKO</p>
     <img src="https://cdn.glitch.com/82c2d417-bd82-4bdb-8a46-b53400324ef6%2FIMG_6682.JPG?v=1614096059111" width="300" height="250">
    </div>
    <div class = "col-sm-4 align-self-center">
      Mr. Michalenko is a teacher in Collingwood Ontario at Our Lady of the Bay Catholic High School.  When he is not in school, he enjoys hiking, and spending time with his family outdoors.
    </div>
    
    <div class = "col-sm-4">
      <img src="https://cdn.glitch.com/82c2d417-bd82-4bdb-8a46-b53400324ef6%2FOur%20Lady%20of%20the%20Bay.png?v=1614100121766" width="300" height="250">
    </div>
    
  </div>
</div>

  
  <div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Syntax</h3>
      <p>This was one of the first projects done in the c programing language.</p>
      <p>The purpose was to learn: What syntax is; When to use parentheses and double quotes
; Why we use curly braces and semicolons
 and The syntax needed to create a program in C </p>
      <script src="https://gist.github.com/jmichalenko/fdfab1fdec9be969a364900fdd9b5200.js"></script>
    </div>



    <div class="col-sm-4">
      <h3>Variables</h3>
      <p>A variable is a container that holds numbers, words, or other types of data to use in our program. </p>
      <p>The purpose of this lab was to learn: How to create and naming a variable; How to assign a value to a variable and How to get user input for a variable</p>
      <script src="https://gist.github.com/jmichalenko/70eaf5d57af7939fd5e706ef3c27205b.js"></script>
    
    </div>
    <div class="col-sm-4">
      <h3>Data Types</h3>
      <p>A data type, in programming, is a classification that specifies which type of value a variable can hold.</p>
      <p>The purpose of this lab was to learn: About common data types; Problems that can arise with ints and floats and Data input functions for different data types</p>
      <script src="https://gist.github.com/jmichalenko/8d05943f6061c58397efb85dce707479.js"></script>
    </div>
  </div>
</div>
  
  
</body>
</html>
